.BorderPane {
    -fx-background-color: #D4CB92;
}

#chatbg {
    -fx-background-color: #31353E;
}
#scrollpane {
    -fx-background-color: #31353E;
}

#chatbox {

    -fx-border-radius: 10;
    -fx-background-radius-radius: 15;
}

#userMessage {
    -fx-background-color: #39A1F9;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-padding: 6px;
    -fx-font-size: 13;
    -fx-text-fill: white;
    -fx-font-family: Consolas;
}

#chatSendBtn {
    -fx-background-color: #39A1F9;
    -fx-text-fill: white;
}

#botMessage {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-padding: 6px;
    -fx-background-color: #E5E5EA;
    -fx-font-size: 13;
    -fx-text-fill: black;
    -fx-font-family: Consolas;
}

.tab-header-area .tab-header-background {
    -fx-background-color: #31353E;

}
.tab-pane .tab:selected {
    -fx-border-color: #8423ed;
    -fx-border-width: 0 0 2 0;
}
.tab-label {
    -fx-text-fill: gray;
}
.tab:selected .tab-label {
    -fx-text-fill: white;

}
.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 20;
}

.tab-pane {
    -fx-tab-min-width: 50px;
    -fx-tab-min-height: 35px;
    -fx-tab-max-height: 35px;
}
.tab-pane .tab {
    -fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-radius: 0;
    -fx-text-fill: black;

}
/*Doesn't show the blue lines when tab is selected */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}