.BorderPane {
    -fx-background-color: #D4CB92;
}

#chatbg {
    -fx-background-color: #d3d3d3;
}

#chatbox {
    -fx-border-radius: 25px;
    -fx-background-radius-radius: 25px;
}

#userMessage {
    -fx-background-color: #39A1F9;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-padding: 3px;
    -fx-font-size: 13;
    -fx-text-fill: white;
}

#botMessage {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-padding: 3px;
    -fx-background-color: #E5E5EA;
    -fx-font-size: 13;
    -fx-font-family: Consolas;
    -fx-text-fill: black;
}